Fsite.container{
	max-width: 1440px;
}
body{
	font-family: 'Poppins', sans-serif;
	color: #000;
	font-size: 1rem;
}
img{
	max-width: 100%;
}
*{
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
/* Header */
#site-header{
	width: 100%;
	height: 70px;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 91;
	display: flex;
	align-items: center;
	justify-content: space-between;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#site-header:hover{
	background: rgba(27, 27, 27, 0.4);
}
#site-header.dark{
	background: rgba(0, 0, 0, .85) !important;
}
.side-action{
	list-style: none;
	margin-bottom: 0;
	display: inline-flex;
	float: right;
	padding-left: 0;
	padding-right: 15px;
}
.side-action li{
	margin-left: 30px;
}
.side-action li:first-child{
	margin-left: 0;
}
.side-action li a{
	line-height: 24px;
	color: #000;
	font-weight: 500;
	text-decoration: none;
}
#site-header .side-action li a:hover{
	color: #456BD9;
}
#site-header.dark .side-action li a{
	color: #fff;
}
.side-action li a svg path{
	fill: #000;
}
#site-header.dark .side-action li a svg path{
	fill: #fff;
}
#site-header .side-action li a:hover svg path, #site-header.dark .side-action li a:hover svg circle, #site-header.dark .side-action li a:hover svg plygon{
	fill: #456BD9;
}
@media(max-width: 991px){
	#site-header{
   		position: absolute;
	}
}
@media(max-width: 575px){
	.side-action{
		padding-right: 0;
	}
	.side-action li{
		margin-left: 20px;
	}
}
/* Hero Banner */
.hero-banner{
	background: #000;
	position: relative;
	overflow: hidden;
}
.hero-banner .gradiant-bg{
	width: 981px;
	height: 994px;
	position: absolute;
	top:0;
	left: 25%;
}
.hero-banner .hero-banner-slideshow.slick-slider{
	user-select: initial;
	-webkit-user-select: initial;
	z-index: 1;
}
.hero-banner .hero-banner-slideshow .slide{
	padding:225px 0 100px;
	min-height: 938px;
	position: relative;
}
.hero-banner .hero-banner-slideshow .slide .container{
	position: relative;
	z-index: 1;
}
.hero-banner .hero-banner-slideshow .slide .girl-img{
	position: absolute;
	right: 0;
	bottom: 0;
}
.hero-banner .hero-banner-slideshow .slide h2{
	font-size: 60px;
	line-height: 90px;
	color: #fff;
	font-weight: 800;
	margin-bottom: 10px;
}
.hero-banner .hero-banner-slideshow .slide p{
	font-size: 20px;
	line-height: 30px;
	color: #fff;
	font-weight: 500;
	margin-bottom: 50px;
}
.hero-banner .hero-banner-slideshow .slick-dots{
	position: absolute;
	margin: 0 auto;
	bottom: 50px;
	display: inline-flex;
	align-items: center;
	max-width: 115px;
	padding: 0;
	list-style: none;
	left: 0;
	right: 0;
}
.hero-banner .hero-banner-slideshow .slick-dots li{
	height: 3px;
}
.hero-banner .hero-banner-slideshow .slick-dots button{
	width: 33px;
	height: 3px;
	background: #cacaca;
	border: 0;
	margin: 0 3px;
}
.hero-banner .hero-banner-slideshow .slick-dots .slick-active button{
	background: #fff;
}
@media(max-width: 767px){
	.hero-banner .hero-banner-slideshow .slide h2{
		font-size: 42px;
		line-height: 60px;
	}
	.hero-banner .hero-banner-slideshow .slide p{
		font-size: 18px;
		margin-bottom: 40px;
	}
}
/* Home Product Section */
.product-section{
	background: #E9E9E9;
	padding:125px 0;
}
.product-section .products-tiles{
	margin-top: 20px;
}
.product-section .products-tiles .products-box{
	padding: 20px 30px;
	background: #FFFFFF;
	box-shadow: 0px 4px 64px rgba(189, 193, 200, 0.1);
	border-radius: 5px;
	margin-top: 30px;
	position: relative;
}
.product-section .products-tiles .products-box:hover{
	box-shadow: 0px 4px 64px rgba(189, 193, 200, 0.5);
}
.product-section .products-box .product-img-wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 298px;
	margin-bottom: 30px;
}
.product-section .products-box h3{
	margin-bottom: 0;
}
.product-section .products-box p{
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	margin-bottom: 15px;
}
.product-section .products-box .product-price{
	font-size: 34px;
	line-height: 51px;
	font-weight: 700;
}
.product-section .products-box .button-wrapper{
	display: flex;
	justify-content: space-between;
	padding-top: 5px;
	flex-wrap: wrap;
}
.product-section .products-box .button-wrapper .c-btn{
	flex-basis: 48%;
}

.product-section .products-box:hover .product-variants{
	opacity: 1;
	visibility: visible;
}

/* Custom Radio Button for Color */
.product-section .products-box .variant-color-wrapper{
	list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    min-height: 230px;
    top: 55px;
    left: 50px;
    display: flex;
    align-items: center;
    opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.product-section .products-box:hover .variant-color-wrapper{
	opacity: 1;
	visibility: visible;
}
.product-section .products-box .color-variant{
	padding: 0;
	margin: 0;
	list-style: none;
}

.product-section .products-box .color-variant li{
	margin: 7px 0;
}
.product-section .products-box .color-variant [type="radio"]:checked, .product-section .products-box .color-variant [type="radio"]:not(:checked){
	position: absolute;
	left: -9999px;
}
.product-section .products-box .color-variant [type="radio"]:checked + label,
.product-section .products-box .color-variant [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
.product-section .products-box .color-variant [type="radio"]:checked + label:before,
.product-section .products-box .color-variant [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border: 1px solid #000;
    border-radius: 100%;
    background: #fff;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.product-section .products-box .color-variant [type="radio"]:not(:checked) + label:before{
	opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.product-section .products-box .color-variant [type="radio"]:checked + label:before{
	opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    width: 28px;
    height: 28px;
}
.product-section .products-box .color-variant [type="radio"]:checked + label:after,
.product-section .products-box .color-variant [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.product-section .products-box .color-variant [type="radio"]:checked + label.grey:after, 
.product-section .products-box .color-variant [type="radio"]:not(:checked) + label.grey:after {
    background: #eee;
}
.product-section .products-box .color-variant [type="radio"]:checked + label.blue:after,
.product-section .products-box .color-variant [type="radio"]:not(:checked) + label.blue:after {
	background: #334c7d;
}
.product-section .products-box .color-variant [type="radio"]:checked + label.brown:after,
.product-section .products-box .color-variant [type="radio"]:not(:checked) + label:after {
	background: #867357;
}
.product-section .products-box .color-variant [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
/* Custom Radio button for Size */
.product-section .products-box .variant-size-wrapper{
	list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    min-height: 230px;
    top: 55px;
    right: 50px;
    display: flex;
    align-items: center;
    opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.product-section .products-box:hover .variant-size-wrapper{
	opacity: 1;
	visibility: visible;
}
.product-section .products-box .color-variant{
	padding: 0;
	margin: 0;
	list-style: none;
}

.product-section .products-box .color-variant li{
	margin: 7px 0;
}
.product-section .products-box .size-variant{
	right: 50px;
}
.product-section .products-box .size-variant li{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 14px 0;
}
.product-section .products-box .size-variant [type="radio"]:checked, .product-section .products-box .size-variant [type="radio"]:not(:checked){
	position: absolute;
	left: -9999px;
}
.product-section .products-box .size-variant [type="radio"]:checked + label,
.product-section .products-box .size-variant [type="radio"]:not(:checked) + label
{
    position: relative;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #000;
    font-weight: 600;
    width: 100%;
    text-align: center; 
}
.product-section .products-box .size-variant [type="radio"]:checked + label:before,
.product-section .products-box .size-variant [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: -3px;
    top: -8px;
    width: 0;
    height: 0;
    border: 2px solid #000;
    border-radius: 3px;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.product-section .products-box .size-variant [type="radio"]:not(:checked) + label:before{
	opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.product-section .products-box .size-variant [type="radio"]:checked + label:before{
	opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    width: 40px;
    height: 34px;
}
.product-section .products-box .size-variant [type="radio"]:checked + label:after,
.product-section .products-box .size-variant [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

@media(max-width: 991px){
	.product-section .products-box .button-wrapper .c-btn{
		max-width: 100%;
		flex-basis: 100%;
	}
	.product-section .products-box .button-wrapper .c-btn:first-child{
		margin-bottom: 15px;
	}
}
@media(max-width: 767px){
	.product-section .products-box .variant-color-wrapper, .product-section .products-box .variant-size-wrapper{
		opacity: 1;
    	visibility: visible;
	}
	.product-section .products-box .variant-size-wrapper{
		right: 25px;
	}
	.product-section .products-box .variant-color-wrapper{
		left: 25px;
	}
}

/* three-column-section */
.three-column-section{
	background: #fff;
}
.three-column-section .category-box{
	padding: 90px;
	border-right: 1px solid #cacaca;
}
.three-column-section .category-box:last-child{
	border-right: 0;
}
.three-column-section .category-box h4{
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 7px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.three-column-section .category-box h3{
	font-size: 34px;
	font-weight: 600;
	line-height: 51px;
	margin-bottom: 30px;
}
.three-column-section .category-box .image-container{
	margin-top: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}
@media(max-width: 1366px){
	.three-column-section .category-box {
    	padding: 90px 30px;
    }
    .three-column-section .category-box h3 {
	    font-size: 30px;
	    line-height: 46px;
	}
}
@media(max-width: 1024px){
	.three-column-section .category-box {
    	padding: 60px 15px 30px;
    }
    .three-column-section .category-box h3 {
	    font-size: 24px;
	    line-height: 40px;
	}
	.three-column-section .category-box .image-container{
		margin-top: 30px;
	}
}
@media(max-width: 767px){
	.three-column-section .category-box{
		border-right: 0;
		border-bottom: 1px solid #cacaca;
	}
	.three-column-section .category-box:last-child{
		border-bottom: 0;
	}
}
/* mid-large-banner */
.mid-large-banner{
	position: relative;
}
.mid-large-banner img{
	display: block;
	margin: 0 auto;
	width: 100%;
}
.mid-large-banner .content{
	position: absolute;
	bottom: 230px;
	left: 110px;
}
.mid-large-banner .content h4{
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	color: #fff;
}
.mid-large-banner .content h3{
	font-size: 100px;
	line-height: 119px;
	color: #fff;
	font-weight: 800;
	letter-spacing: .5px;
	margin-bottom: 35px;
}
.side-banner-component{
	position: absolute;
	right: 50px;
	top: 50%;
	transform: translateY(-40%);
	max-width: 180px;
	z-index: 1;
}
.side-banner-component ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.side-banner-component ul li{
	margin-bottom: 50px;
}
.side-banner-component ul li:last-child{
	margin-bottom: 0;
}
.side-banner-component ul li i{
	margin-bottom: 10px;
	display: inline-block;
}
.side-banner-component ul li i svg{
	fill: #fff;
}
.side-banner-component ul li p{
	color: #fff;
	font-size: 14px;
	line-height: 22px;
	font-weight: 500;
}
@media(max-width: 1366px){
	.mid-large-banner .content{
		left: 30px;
		bottom: 110px;
	}
	.side-banner-component{
		right: 30px;
	}
	.mid-large-banner .content h3{
		font-size: 70px;
    	line-height: 80px;
	}
	.side-banner-component ul li{
		margin-bottom: 30px;
	}
}
@media(max-width: 991px){
	.side-banner-component{
		right: 15px;
	}
	.mid-large-banner .content h3 {
    	font-size: 40px;
    	line-height: 50px;
	}
}
@media(max-width: 767px){
	.mid-large-banner .content, .side-banner-component{
		position: static;
		margin-top: 40px;
		padding: 0 30px;
	}
	.mid-large-banner .content .btn-border.white{
		border: 1px solid #456BD9;
		color: #456BD9;
	}
	.mid-large-banner .content .btn-border.white:hover{
		background: #456BD9;
		border: 1px solid #456BD9;
		color: #fff;
	}
	.side-banner-component{
		transform: none;
		margin-top: 60px;
	}
	.mid-large-banner .content h4, .mid-large-banner .content h3, .mid-large-banner .content p, .side-banner-component ul li p{
		color: #000;
	}
	.side-banner-component ul li i svg{
		fill: #000;
	}
	.side-banner-component{
		max-width: 100%;
	}
	.side-banner-component ul {
		display: flex;
	}
	.side-banner-component ul li{
		padding-right: 25px;
	}
	.side-banner-component ul li:last-child{
		padding-right: 0;
	}
}
@media(max-width: 575px){
	.mid-large-banner .content h3 {
	    font-size: 35px;
	    line-height: 42px;
	}
	.side-banner-component{
		max-width: 240px;
	}
	.side-banner-component ul {
		display: block;
	}
	.side-banner-component ul li{
		padding: 0;
	}
}

/* Vehicle Accessories */
.vehicle-accessories{
	background: #fff;
	padding: 170px 180px 190px;
}
.vehicle-accessories .vehicle-accessories-banner{
	background: #F1ECE6;
	border-radius: 8px;
	padding: 90px 90px 30px;
}
.vehicle-accessories .vehicle-accessories-banner .content{
	max-width: 660px;
	margin: 0 auto;
}
.vehicle-accessories .vehicle-accessories-banner h4{
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	margin-bottom: 12px;
}
.vehicle-accessories .vehicle-accessories-banner h2{
	font-size: 48px;
	line-height: 60px;
	font-weight: 700;
	letter-spacing: -.5px;
	margin-bottom: 55px;
}
@media(max-width: 1024px){
	.vehicle-accessories {
	    background: #fff;
	    padding: 120px;
	}
}
@media(max-width: 991px){
	.vehicle-accessories {
	    background: #fff;
	    padding: 70px;
	}
	.vehicle-accessories .vehicle-accessories-banner h2 {
	    font-size: 42px;
	    line-height: 50px;
	}
}
@media(max-width: 767px){
	.vehicle-accessories{
		padding: 50px;
	}
	.vehicle-accessories .vehicle-accessories-banner {
	    padding: 70px 50px 30px;
	}
}
@media(max-width: 575px){
	.vehicle-accessories {
	    padding: 30px;
	}
	.vehicle-accessories .vehicle-accessories-banner {
	    padding: 70px 30px 30px;
	}
	.vehicle-accessories .vehicle-accessories-banner .content{
		margin-bottom: 30px;
	}
	.vehicle-accessories .vehicle-accessories-banner h2 {
	    font-size: 24px;
	    line-height: 34px;
	    margin-bottom: 40px;
	}
}
/* Find a Studio */
.find-studio{
	position: relative;
}
.find-studio img{
	width: 100%;
}
.find-studio .content{
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1;
	top: 35%;
	transform: translateY(-40%);
	max-width: 460px;
	margin: 0 auto;
}
.find-studio .content h2{
	color: #fff;
	font-size: 48px;
	line-height: 60px;
	font-weight: 700;
	margin-bottom: 60px;
}
@media(max-width: 767px){
	.find-studio{
		padding: 70px 0 30px;
		background: #000;
	}
	.find-studio .content h2{
		font-size: 36px;
		margin-bottom: 30px;
	}
}
@media(max-width: 757px){
	.find-studio{
		padding: 110px 0 30px;
		background: #000;
	}
	.find-studio .content h2{
		font-size: 30px;
		margin-bottom: 20px;
	}
}
/* Footer */
.footer{
	background: #000;
}
.footer .footer-top{
	padding: 60px 0;
	border-bottom: 1px solid #2C2B28;
}
.footer .footer-top .footer-logo-link svg{
	fill: #fff;
	margin-right: 20px;
}
.footer .footer-top .footer-logo-link .language-link{
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
}
.footer .footer-top .footer-logo-link .language-link i{
	display: inline-flex;
}
.footer .footer-top .footer-logo-link .language-link svg{
	fill: #456BD9;
	margin-right: 8px;
}
.footer .footer-top .footer-social-icons h5{
	color: #7E7D7B;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	letter-spacing: 0.1px;
	margin-bottom: 0;
}
.footer .footer-top .footer-social-icons ul{
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
	list-style: none;
}
.footer .footer-top .footer-social-icons ul li{
	margin-left: 10px;
}
.footer .footer-top .footer-social-icons ul li a svg{
	fill: #456BD9;
}
.footer .footer-top .footer-social-icons a:hover svg{
	fill: #3453AE;
}
.footer .footer-links-container{
	padding: 30px 0; 
}
.footer .footer-links-container h3{
	color: #456BD9;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 15px;
}
.footer .footer-links-container .footer-links{
	margin-bottom: 30px;
}
.footer .footer-links-container .footer-links ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.footer .footer-links-container .footer-links ul li{
	margin-bottom: 5px;
}
.footer .footer-links-container .footer-links ul li a{
	color: #CACACA;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	text-decoration: none;
	margin: 0;
}
.footer .footer-links-container ul.footer-address li{
	display: flex;
	margin-bottom: 20px;
	align-items: center;
}
.footer .footer-links-container .footer-address li:first-child{
	align-items: flex-start;
}
.footer .footer-links-container .footer-address li i{
	display: inline-flex;
	align-items: center;
}
.footer .footer-links-container .footer-address svg{
	fill: #7E7D7B;
	width: 14px;
	margin-right: 7px;
}
.footer .footer-links-container .footer-address li p, .footer .footer-links-container .footer-address li a{
	color: #CACACA;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	text-decoration: none;
	margin: 0;
}
.footer .footer-links-container .footer-links .descripton-info{
	margin-bottom: 30px;
}
.footer .footer-links-container .footer-links .descripton-info:last-child{
	margin-bottom: 0;
}
.footer .footer-links-container .footer-links .descripton-info .timing{
	font-size: 11px;
	line-height: 28px;
	font-weight: 600;
	color: #7E7D7B;
}
.footer .footer-links-container .footer-links .descripton-info li{
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.1px;
	color: #CACACA;
}
.footer .footer-links-container .footer-links .descripton-info li h3{
	margin-bottom: 0;
	line-height: 24px;
}
.footer .copyright-txt{
	padding: 10px 0;
}
.footer .copyright-txt p{
	font-size: 13px;
	line-height: 22px;
	color: rgba(255, 255, 255, 0.35);
	margin: 0;
}
@media(max-width: 767px){
	.footer .footer-top{
		padding: 30px 0;
	}
}
@media(max-width: 575px){
	.footer .footer-top .footer-social-icons{
		float: left;
		margin-top: 15px;
	}
	.footer .footer-links-container{
		padding-bottom: 0;
	}
}


/* Product Detail page */
.inner-page{
	padding-top: 70px;
}
.product-main-gallery{
	max-width: 1040px;
}
.product-main-gallery .side-banner-component{
	left: 65px;
	top: 180px;
	transform: none;
}
.product-main-gallery .side-banner-component ul li i svg{
	fill: #000;
}
.product-main-gallery .side-banner-component ul li p{
	color: #000;
}
/* Product Detail Slider Css */
.product-main-gallery .product-image-slider .slick-arrow{
	position: absolute;
	top: 70%;
	transform: translateY(-70%);
	width: 68px;
	height: 68px;
	background: rgba(92, 92, 92, 0.1);
	border-radius: 100%;
	cursor: pointer;
	z-index: 11;
}
.product-main-gallery .product-image-slider .slick-arrow:hover{
	background: rgba(92, 92, 92, 0.5);
}
.product-main-gallery .product-image-slider .slick-arrow.slick-next{
	right: 60px;
}
.product-main-gallery .product-image-slider .slick-arrow .inner-arrows{
	border-width: 2px 2px 0 0;
    border-style: solid;
    display: inline-block;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 50%;
}
.product-main-gallery .product-image-slider .slick-arrow.slick-next .inner-arrows{
	left:20px;
	transform: translateY(-50%) rotate(45deg);
}
.product-main-gallery .product-image-slider .slick-arrow.slick-prev{
	left: 60px;
}
.product-main-gallery .product-image-slider .slick-arrow.slick-prev .inner-arrows{
	right: 20px;
    transform: translateY(-50%) rotate(-135deg);
}
.product-main-gallery .product-image-slider .slick-arrow.slick-disabled{
	display: none !important;
}
.product-main-gallery .product-image-slider .slick-dots{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	padding: 0;
	margin: 0;
}
.product-main-gallery .product-image-slider .slick-dots li{
	margin: 0 3px;
	height: 3px;
}
.product-main-gallery .product-image-slider .slick-dots li button{
	border: 0;
	height: 3px;
	width: 33px;
	background: rgba(255, 255, 255, 0.4);
	text-indent: -9999px;
	overflow: hidden;
}
.product-main-gallery .product-image-slider .slick-dots li.slick-active button{
	background: #000;
}
/* Product Detail Slider Css End */
/* Product Detail Content Css */
.product-detail-content{
	max-width: 675px;
}
.product-detail-content h1{
	font-size: 3rem;
	font-weight: 800;
	line-height: 60px;
	margin-bottom: 20px;
}
.product-detail-content p{
	font-weight: 400;
}
.product-detail-content .variations-row{
	padding: 0 0 5px;
}
.product-detail-content .variations-row h4{
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 15px;
	margin-top: 10px;
}
.product-detail-content .variations-row .variants{
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}
.product-detail-content .variations-row .variants li{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 15px 20px 0;
	width: 100%;
	max-width: 210px;
}
.product-detail-content .variations-row .variants li:last-child{
	margin-right: 0;
}
.product-detail-content .variations-row .variants [type="radio"]:checked, .product-detail-content .variations-row .variants [type="radio"]:not(:checked){
	position: absolute;
	left: -9999px;
}
.product-detail-content .variations-row .variants [type="radio"]:checked + label,
.product-detail-content .variations-row .variants [type="radio"]:not(:checked) + label
{
    position: relative;
    cursor: pointer;
    line-height: 20px;
	color: #000;
    font-weight: 600;
    width: 100%;
    height: 122px;
    padding: 24px 10px 25px;
    text-align: center;
    border: 2px dashed #456BD9;
    border-radius: 3px;
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.product-detail-content .variations-row .variants [type="radio"]:checked + label span,
.product-detail-content .variations-row .variants [type="radio"]:not(:checked) + label span{
	width: 35px;
	height: 35px;
	border-radius: 100%;
	display: block;
	margin-bottom: 20px;
	box-shadow: inset 0px 1px 2px rgb(0 0 0 / 20%);
}
.product-detail-content .variations-row .variants [type="radio"]:checked + label.white span,
.product-detail-content .variations-row .variants [type="radio"]:not(:checked) + label.white span{
	background: #eee;
}
.product-detail-content .variations-row .variants [type="radio"]:checked + label.blue span,
.product-detail-content .variations-row .variants [type="radio"]:not(:checked) + label.blue span{
	background: #334C7D;
}
.product-detail-content .variations-row .variants [type="radio"]:checked + label.brown span,
.product-detail-content .variations-row .variants [type="radio"]:not(:checked) + label.brown span{
	background: #867357;
}
.product-detail-content .variations-row .variants li h5{
	font-size: 14px;
	font-weight: 500;
	margin: 0;
	line-height: 1;
}
.product-detail-content .variations-row .variants li p{
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	margin: 15px 0 0;
}
.product-detail-content .variations-row .variants [type="radio"]:not(:checked) + label{
	border: 1px dashed #CACACA;
	border-radius: 3px;
}
.product-detail-content .variations-row .variants [type="radio"]:checked + label.white:after, .product-detail-content .variations-row .variants [type="radio"]:not(:checked) + label.white:after {
    background: #eee;
}
.product-detail-content .variations-row .variants [type="radio"]:not(:checked) + label:before{
	opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.product-detail-content .variations-row .variants [type="radio"]:checked + label:before{
	opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    width: 100%;
    height: 100%;
}
.product-detail-content .variations-row .variants [type="radio"]:checked + label:after,
.product-detail-content .variations-row .variants [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    display: none;
}
.product-detail-content .size-chart-info{

}
.product-detail-content .size-chart-info p{
	font-size: 14px;
	line-height: 1;
	font-weight: 500;
}
.product-detail-content .size-chart-info p a{
	color: #456BD9;
	text-decoration: none;
}
.product-detail-content .size-chart-info p a:hover{
	text-decoration: underline;
}
.product-detail-content .price-calculate-box{
	background: rgba(245, 244, 244, 0.6);
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 30px;
	margin-top: 40px;
}
.product-detail-content .price-calculate-box h6{
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	margin-bottom: 25px;
}
.product-detail-content .price-calculate-box .calculated-price{
	font-size: 60px;
	line-height: 1;
	letter-spacing: -1.5px;
	font-weight: 800;
	margin-bottom: 10px;
}
.product-detail-content .price-calculate-box p{
	color: #5C5C5C;
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 0;
}
.product-detail-content .price-calculate-box .button-wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	flex-wrap: wrap;
	margin-top: 20px;
}
.product-detail-content .price-calculate-box .button-wrapper .btn-border{
	flex-shrink: 0;
	margin-right: 10px;
	min-width: 180px;
}
.product-detail-content .price-calculate-box .button-wrapper .btn-blue{
	flex-grow: 1;
}
.product-detail-content .price-calculate-box .order-delivery-time{
	border-top: 1px solid #E9E9E9;
	margin-top: 30px;
	padding-top: 20px;
	width: 100%;
	display: flex;
	align-items: flex-start;
}
.product-detail-content .price-calculate-box .order-delivery-time i svg{
	fill: #000;
	margin-right: 10px;
}
.product-detail-content .price-calculate-box .order-delivery-time .content{
	max-width: 330px;
	width: 100%;
}
.product-detail-content .price-calculate-box .order-delivery-time .content h6{
	font-size: 14px;
	font-weight: 500;
	margin: 0;
}
.product-detail-content .price-calculate-box .order-delivery-time .content h6 span{
	font-weight: 400;
}
.product-detail-content .price-calculate-box .order-delivery-time .content h6 span a{
	text-decoration: underline;
	color: #000;
}
.product-detail-content .price-calculate-box .order-delivery-time .content h6 span a:hover{
	text-decoration: none;
}
/* Product Detail Content Css End */

/* Product Section on inner page */
.inner-page .product-section{
	background: #fbfafa;
}
.inner-page .product-section .title-section{
	border-bottom: 1px solid #eee;
	padding-bottom: 60px;
}
.inner-page .product-section .products-tiles{
	margin-top: 15px;
}
/* Product Section on inner page End */