<app-product-carousel [banner]="bannerData"></app-product-carousel>
<div class="product-section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title">People love it. Unparalled choices.</h2>
        </div>
      </div>
     <app-product-tile [product]="products" ></app-product-tile>

    </div>
</div>

<app-category-tile [category]="categories" ></app-category-tile>

<app-new-launch></app-new-launch>
<app-studio></app-studio>